# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# VIRTUAL ENVIRONMENT
# ==========================================================

venv/
env/
ENV/

# ==========================================================
# PYTEST
# ==========================================================

.pytest_cache/
.cache/

# ==========================================================
# REPORTS
# ==========================================================

reports/
htmlcov/
coverage/

# ==========================================================
# ALLURE
# ==========================================================

allure-results/
allure-report/

# ==========================================================
# SCREENSHOTS
# ==========================================================

screenshots/

# ==========================================================
# LOGS
# ==========================================================

logs/
*.log

# ==========================================================
# DOWNLOADS
# ==========================================================

downloads/

# ==========================================================
# IDE FILES
# ==========================================================

.vscode/
.idea/

# ==========================================================
# OS FILES
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# JENKINS
# ==========================================================

workspace/

# ==========================================================
# TEST ARTIFACTS
# ==========================================================

*.png
*.pdf
*.xlsx
*.csv

# ==========================================================
# SELENIUM / CHROME
# ==========================================================

*.crdownload

# ==========================================================
# ENV FILES
# ==========================================================

.env

# ==========================================================
# MISC
# ==========================================================

temp/
tmp/